* {margin:0;padding:0}

body {
background:#FFF url(/static/images/bg.jpg) repeat-x;
font:63.125%/200% 'Trebuchet MS', verdana, geneva, Arial, Helvetica, sans-serif;
color:#444;
text-align: center;
}

a:link,a:visited,a:active {
color:#0021a5;
text-decoration:none;
border-bottom: 1px solid #0045c4;
}

a:hover {
color:#ff4a00;
border-bottom: 1px solid #ff4a00;
}

a.replace {
display:block;
}

form p {
font-size:1.2em;
margin: 2px 0 50px 45px;
}

h3 {
font-size:2.4em;
color:#222;
clear:both;
}

#priSearch {
margin: 0 auto;
width: 500px;
text-align:center;
}
#priSearch dl {
align:center;
}

p,li,dl {
text-align: left;
font-size:1.4em;
}

ul {list-style-type:none}

#header { text-align: left}
h1#logo {
position:relative;
margin-left:30px;
height:40px;
width:105px;
font-size:14px;
overflow:hidden;
text-align: left;
}

h1#logo a span,h2#unit a span {
position:absolute;
top:0;
left:0;
display:block;
background:url(/static/images/unitHeader.gif);
width:100%;
height:100%;
cursor:hand;

text-align: left;
}

h2#unit {
width:181px;
height:40px;
top:0;
right:30px;
position:absolute;
font-size:14px;
overflow:hidden;
}

h2#unit a span {
background:url(/static/images/universityOfFlorida.gif);
}

#mainContainer {
margin:30px;
}

#query {
width:15em;
font-size:2.3em;
padding:3px;
}

#search {
font-size:2em;
margin-bottom: 5px
}
* html #search {font-size:1.2em}


#phonebook_help {
margin: 15px 0;
}
#phonebook_help dl {
font-size:1.2em;
width:30em;
margin: 0 auto;
}

#phonebook_help dt,#phonebook_help dd {
background:#f1f1f1;
border-top:3px solid #fff;
padding: 0 5px;
}

#phonebook_help dt {
text-align: left;
float:left;
color:#444;
width:18em;
}

#phonebook_help dd {
text-align:right;
}

#phonebook_help h3, .directories h3 {
font-size: 1.8em
}

#directories {
width: 34em;
margin: 10px auto
}
.directories {
width:17em;
float:left;
margin:15px 0 20px;
}
.directories h3 {
text-align: left;
}
.directories ul {
list-style:circle;

margin-left:20px;
}

.directories li {
font-size: 1.1em;
}

#errors {
width: 60em;
background: #c4d6f7;
border: 1px solid #333;
border-width: 1px 0;
padding: 5px;
margin: 5px auto 25px;
}

#note {
margin: 0 auto;
width: 40em;
font-size: 1.2em;
clear:both;
}


#footer h3 {
display:none;
}

#footer {
color:#999;
clear:both;
position:relative;
border-top:1px solid #d1d1d1;
height:50px;
font-size:.8em;
padding:10px 0 25px 30px;
}

#footer a {
border-bottom: 0}

#footer ul,#footer p {
clear:both;
width:550px;
float:left;
line-height:1.4em;
}

#footer li {
float:left;
border-right:1px solid #ccc;
display:inline;
padding-right:4px;
margin-right:4px;
}

#footerHome span {
width:188px;
height:62px;
background:url(/static/images/smallWordmark.gif) 0 0 no-repeat;
position:absolute;
right:30px;
top:10px;
}