* {margin:0;padding:0}

body {
background:#FFF url(/static/images/bg.jpg) repeat-x;
font:63.125%/200% 'Trebuchet MS', verdana, geneva, Arial, Helvetica, sans-serif;
color:#444;
}

a:link,a:visited,a:active {
color:#0021a5;
}

a:hover {
color:#ff4a00;
}

a.replace {
display:block;
}

form p {
font-size:1.2em;
margin-bottom:50px;
}

h3 {
font-size:2.4em;
color:#222;
clear:both;
}

h4 {
font-size:1.6em;
border:3px double #ccc;
background:#fff url(/static/images/bg_dir_heading.gif) bottom repeat-x;
color:#444;
margin:15px 0 5px;
padding:5px;
}

h5 {
font-size:1.2em;
}

input {
font-size:2em;
padding:3px;
}

p,li,dl {
font-size:1.4em;
}

table {font-size: 1.2em;margin: 25px 0;}
thead {font-size: 1.6em}
td { padding: 5px 15px 5px 5px}
.odd {background:#eee}

ul {list-style-type:none}

h1#logo {
position:relative;
margin-left:30px;
height:40px;
width:105px;
font-size:14px;
overflow:hidden;
}

h1#logo a span,h2#unit a span {
position:absolute;
top:0;
left:0;
display:block;
background:url(/static/images/unitHeaderSearch.gif);
width:100%;
height:100%;
cursor:hand;
}

h2#unit {
width:181px;
height:40px;
top:0;
right:30px;
position:absolute;
font-size:14px;
overflow:hidden;
}

h2#unit a span {
background:url(/static/images/universityOfFlorida.gif);
}

#mainContainer {
margin:30px;
}


#search {
font-size:1.8em;
vertical-align:top;
}
* html #search {font-size:1.5em}

#query {
width:20em;
font-family:monospace;
}
#phonebook_help {
margin: 15px 0;
}
#phonebook_help dl {
font-size:1em;
width:32em;
}

#phonebook_help dt,#phonebook_help dd {
background:#f1f1f1;
border-top:3px solid #fff;
padding: 0 5px;
}

#phonebook_help dt {
float:left;
color:#444;
width:22em;
}

#phonebook_help dd {
text-align:right;
}

#phonebook_help h3, .directories h3 {
font-size: 1.8em
}



.directories {
width:20em;
float:left;
margin:25px 0;
}

.directories ul {
list-style:circle;
}

.directories li {
font-size: 1.2em;
margin-left:20px;
}

#note {
clear:both;
}

.results dl {
line-height:2em;
margin:0 0 0 10px;
}

.results dt {
float:left;
color:#444;
width:9em;
}

.results dd {
color:#333;
}

#adminlinks {
font-size:.9em;
margin:40px 0 0;
}

.results {
margin:30px 0 0;
}

#results_confirmation {
font-size:1.4em;
margin:0 0 15px;
}

#results_confirmation span {
color:#333;
font-weight:700;
}

#footer h3 {
display:none;
}

#footer {
color:#999;
clear:both;
position:relative;
border-top:1px solid #d1d1d1;
height:50px;
font-size:.8em;
padding:10px 0 25px 30px;
}

#footer a { text-decoration:none}

#footer ul,#footer p {
clear:both;
width:550px;
float:left;
line-height:1.4em;
}

#footer li {
float:left;
border-right:1px solid #ccc;
display:inline;
padding-right:4px;
margin-right:4px;
}

#footerHome span {
width:188px;
height:62px;
background:url(/static/images/smallWordmark.gif) 0 0 no-repeat;
position:absolute;
right:30px;
top:10px;
}

/* google only */
.google {
font:1.2em/1.6em Arial, helvetica,sans-serif;
}

.google a {
text-decoration:underline;
}

p span {
font-size:.9em;
line-height:1.2em;
}

.l {
margin-bottom:2em;
}

.b {
padding-bottom:1em;
}

.google p {
margin-bottom:1.2em;
}

.t {
color:#fff;
background-color:#36c;
padding:3px;
}

.googleform {
background:url(/static/images/google.gif) right center no-repeat;
}

.n { ont-size: 1.4em}
.n a {text-decoration:none}

/* tabs only */
#tabs {
font-size:1em;
margin:0 0 10px;
}

#tabs li {
display:inline;
margin-right:5px;
}

#tabs li a {
border:1px solid #aaa;
padding:5px;
}

#active {
background:#333 url(/static/images/active.gif) bottom center no-repeat;
color:#fff;
padding:5px 5px 12px;
}