    <form method="get" action="/units/search">
      <input type="text" name="query" id="query" value="[% c.req.params.query ? c.req.params.query : 'Search UF Units' | html_entity %]" />
      <input type="submit" value="Search" />
      <p>Enter a name or phone number to find units.</p>
    </form>
