[% INCLUDE people/includes/header.tt stylesheets = [ '/static/css/sec.css'] title = c.req.params.query %]
<div id="results_info">
    <p>Your search[% IF c.req.params.query %] for <strong>[% c.req.params.query | html_entity %]</strong>[% END %] did not match any members of the University of Florida community.</p>
</div>
[% INCLUDE people/includes/tips.tt %]
[% INCLUDE people/includes/footer.tt %]
