[% WRAPPER wrapper.tt
   title       = c.req.params.query
   stylesheets = [ c.uri_for('/static/css/sec.css') ]
   heading     = 'people/includes/search.tt'
%]

    <div id="results_info">
      <p>Your search[% IF c.req.params.query %] for <strong>[% c.req.params.query | html %]</strong>[% END %] did not match any members of the University of Florida community.</p>
    </div>

  [% INCLUDE people/includes/tips.tt %]
  [% INCLUDE includes/links.tt %]
[% END %]
