<script type="text/javascript" src="[% base %]static/js/common.js"></script>
<script type="text/javascript">
  var Query = {
    defaultValue: '[% c.config.search.default %]'
  };
</script>
<script type="text/javascript" src="[% base %]static/js/phonebook.js"></script>
