<div id="directories">
  <div class="directories">
    <h3>UF Directories</h3>
    <ul>
      <li><a href="http://calendar.ufl.edu/">Calendar of Events</a></li>
      <li><a href="http://www.ufl.edu/colleges/">Colleges &amp; Schools</a></li>
      <li><a href="http://www.ufl.edu/libraries/">Libraries</a></li>
      <li><a href="http://www.ufl.edu/aboutUF/administration.html">Organizational Index</a></li>
      <li><a href="http://www.ufl.edu/websites/">Web Site Listing</a></li>
    </ul>
  </div>
  <div class="directories">
    <h3>Other Directories</h3>
    <ul>
      <li><a href="http://www.clas.ufl.edu/au/">American Universities</a></li>
      <li><a href="http://www.utexas.edu/world/comcol/state/">Community Colleges</a></li>
      <li><a href="http://www.flbog.edu/">Florida Board of Governors</a></li>
      <li><a href="http://dlis.dos.state.fl.us/fgils/">Florida Government</a></li>
      <li><a href="http://univ.cc/world.php">International Universities</a></li>
    </ul>
  </div>
</div>
<p id="note"><strong>Note</strong>: Any solicitation of business, information, contributions or other response from individuals listed in this website by mail, telephone, or other means is forbidden.</p>
