form#search {
display:inline;
font-size:1.8em;
margin-right:30px;
padding-top:2px;
position:absolute;
right:0;
top:0;
vertical-align:top;
}

form#search input#image {
vertical-align:top
}

form#search input#phonebook {
width:20em
}

h3 {
font-size:3em;
}

table {
font-size:1.4em;
border-collapse: collapse;
margin:25px 0 40px 0;
}

thead {
text-align: left;
font-size:1.3em;
}

th, td {
padding:8px 15px 8px 10px;
}

tr {
background: #f9f9f9;
border: 1px solid #eee;
}

tr.odd {
background:#eee
}

td {
border-right: 1px solid #e1e1e1;
}

thead tr {
border: none;
background: none;
}

ul {
list-style-type:none
}

#adminlinks {
margin: 40px 0 20px 0;
}

#ldap dd, #ldap dt {
border-top: 1px solid #ddd;
}

#ldap dd {
color:#222;
margin-left:19em
}

#ldap dl {
font-size:1.5em;
line-height:2em;
margin:15px 0 0 10px
}

#ldap dt {
color:#444;
float:left;
font-size:1.2em;
width:15em
}

#results_confirmation {
font-size:1.4em;
margin:0 0 15px
}

#results_confirmation span {
color:#333;
font-weight:700
}

#results_info {
background:#d1d1d1 url(images/bg_results.gif) bottom repeat-x;
color:#222;
margin:-38px -30px 20px -30px; /* Shift it back from #mainContainer so it hits the edge */
padding:0 0 12px 30px;
position:relative;
z-index:500
}

.about p {
margin-top: 1em;
}

.about ul {
list-style:disc;
margin-left:40px;
}

.locality {
padding-left:5px
}

.locality,.region,abbr {
color:#111
}

.query {
font-family:monospace;
}

.results dd {
color:#333
}

.results dl, .results p {
font-size:1.5em;
line-height:2em;
margin:0 0 0 10px
}

.results dt {
color:#444;
float:left;
width:9em
}
