[% SET
   title = 'Error'
-%]

<div class="about">
  <h3>Error</h3>
  <p>We're sorry, but an error occurred. The administrators have been notified and will be looking into the problem as soon as possible.</p>
  <p>Please try again shortly. If the problem persists, please email <a href="mailto:[% FILTER spam_armor %]webmaster@ufl.edu[% END %]">[% FILTER spam_armor %]webmaster@ufl.edu[% END %]</a> for assistance.</p>
</div><!-- .about -->
