<div id="header"> 
  <h1 class="replace" id="logo"><a href="/">[% c.config.name %]<span></span></a></h1>
  <h2 class="replace" id="unit"><a href="http://www.ufl.edu/">University of Florida<span></span></a></h2>
</div>
