<script type="text/javascript" src="/static/js/common.js"></script>
<script type="text/javascript" src="/static/js/autocomplete.js"></script>
<script type="text/javascript" src="/static/js/phonebook.js"></script>
<script type="text/javascript">
  addLoadEvent(initBehavior);
</script>
